@import "tailwindcss";

:root {
  --background:#1c1b21;
  --buttons-bg:#27272c;
  --secondary-color:#00ff99;
}
::-webkit-scrollbar {
  width:8px;
  background-color: var(--background); 
}
::-webkit-scrollbar-thumb{
  border-radius:10px;
  background:var(--secondary-color)
}
@theme inline {
  --color-background: var(--background);
  --color-secondary:var(--secondary-color);
  --color-secondaryBg:var(--buttons-bg);
  --font-jetbrains-mono:var(--font-jetbrains-mono)
}

body{
  background-color: var(--background);
}
.container{
  @apply max-w-[1200px] mx-auto p-5
}
.burger-button::after,.burger-button::before{
  content:"";
  width:100%;
  height: 2px;
  background-color: var(--secondary-color);
  display: block;
  position: absolute;
  left:0;
}
.burger-button::after{
  bottom:0;
}
.burger-button::before{
  top:0;
}
.skill:hover{
  color:var(--secondary-color)
}
.skill:hover span{
  opacity:1;
  z-index:1;
}
.stroke-text{
  -webkit-text-stroke: 1px rgba(255,255,255,0.7);
   color:transparent;
  text-stroke:1px rgba(255,255,255,0.7);
  transition: 0.3s;

}
.service:hover .stroke-text{
    -webkit-text-stroke: 1px var(--secondary-color);
    text-stroke:1px var(--secondary);
}
.typing-text{
    position: relative;
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Hides any overflow from longer text */
    letter-spacing: 1px;
    border-right:5px solid transparent;
    animation: flashing 0.5s steps(8) infinite;

}

/* .typing-text::before{
    content:"";
    position: absolute;
    left:0%;
    top:0;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    animation: typing 6s steps(14) infinite  ,flashing 0.5s steps(8) infinite;
    border-left:5px solid transparent;
} */
/* @keyframes typing {
    0%{
        left:0%;
    }
    50% ,90%{
        left:100%;
    }

    100%{
        left:0%;
    }
} */
@keyframes flashing {

    50%{
        border-color:var(--primary-color);
    }
    100%{
        border-color: transparent;
    }

}

